body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    text-align: center;
    height: 3.5rem;
}

.category {
    width: 200px;
    padding: 0;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 2em;
    background: lightblue;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.category.disabled {
    background: lightgrey;
}

#detail {
    height: 40%;
    height: calc(100% - 3.5rem);

    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
}

#question {
    width: 100%;
    height: 50%;
}

#answer {
    width: 100%;
    height: 50%;
}

#data {
    display: none;
}

/********* David's 食べ物　**********/
.bucket{
    display: block;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#question img{
    float: left;
    width: 40%;
    height: 100%;    
}

.img-right{
    margin-left:45%;
    margin-top:20px;
    width: 40%;
}
/********* David's 食べ物　end **********/
