body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: url(FreeVector-Bright-Starburst.jpg) no-repeat center fixed;
    background-size: cover;

    user-select: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}

ul {
    width: 100%;
    list-style: none;
    text-align: center;
    height: 3.5rem;
    margin: 0;
    padding: 0.5rem;
}

.category {
    width: 250px;
    height: 1.5em;

    padding: 0;
    margin-right: 20px;

    line-height: 1.5em;
    font-size: 2em;
    vertical-align: middle;
    text-align: center;

    background: lightblue;
    border: 1px solid black;

    display: inline-block;
    cursor: pointer;
}

.category.disabled {
    background: lightgrey;
}

#detail {
    height: 80%; /* fallback value */
    height: calc(100% - 3.5rem);
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    padding: 20px;
}

#question, #answer {
    width: 80%;
    height: 100%;
    margin: 0 auto 30px auto;
    background: white;
    border: 1px solid black;
}

#answer {
    display: none;
}

#data {
    display: none;
}

/********* David's 食べ物　**********/
.bucket{
    display: block;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#question .bucket img {
    float: left;
    width: 40%;
}

.img-right {
    margin-left:45%;
    margin-top:20px;
    width: 40%;
}
/********* David's 食べ物　end **********/
